{% extends 'base.html' %}
{% load static %}

{% block extra_head %}
	<title>Vromon</title>
  	<link rel="stylesheet" type="text/css" href="{% static 'css/generic/image-card.css' %}">
    <link rel="stylesheet" href="{% static 'css/home/index.css' %}">
{% endblock %}


{% block content %}

    <div id="map"></div>

    <div class="section mx-auto" >
        <div class="section-title">
            <h4 class="section-title-text">Nearby Hotels</h4>
        </div>
    
         <div class="cards row card-section">
            {% for item in hotels %}
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="card">
                        <div class="card-image-wrapper">
                            <img class="card-img-top" src="/{{item.image}}" alt="Hotel Pan Pacific">
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">{{item.name}}</h4>
                            <p class="card-text"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></p>
                            <a href="#" class="btn btn-info">Get Direction</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="see-more">
            <a href="/hotel/all/" class="btn btn-info see-more-btn">Explore More Hotels</a>
        </div>
    </div>

    <hr>

    <div class="section mx-auto" >
        <div class="section-title">
            <h4 class="section-title-text">Nearby Restaurants</h4>
        </div>
    
        <div class="cards row card-section">
            {% for item in restaurants %}
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="card">
                        <div class="card-image-wrapper">
                            <img class="card-img-top" src="/{{item.image}}" alt="Hotel Pan Pacific">
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">{{item.name}}</h4>
                            <p class="card-text"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></p>
                            <a href="#" class="btn btn-info">Get Direction</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="see-more">
            <a href="/restaurant/all/" class="btn btn-info see-more-btn">Explore More Restaurants</a>
        </div>
    </div>

    <hr>

    <div class="section mx-auto" >
        <div class="section-title">
            <h4 class="section-title-text">Nearby Landmarks</h4>
        </div>
    
        
        <div class="cards row card-section">
            {% for item in places %}
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="card">
                        <div class="card-image-wrapper">
                            <img class="card-img-top" src="/{{item.image}}" alt="Hotel Pan Pacific">
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">{{item.name}}</h4>
                            <p class="card-text"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></p>
                            <a href="#" class="btn btn-info">Get Direction</a>
                        </div>
                    </div>
                </div>

            {% endfor %}
        </div>

        <div class="see-more">
            <a href="/place/all/" class="btn btn-info see-more-btn">Explore More Landmarks</a>
        </div>
    </div>




{% endblock %}


{% block extra_script %}
<script type="text/javascript">
        var head = document.getElementsByTagName('head')[0];

        var insertBefore = head.insertBefore;

        head.insertBefore = function (newElement, referenceElement) {

            if (newElement.href && newElement.href.indexOf('//fonts.googleapis.com/css?family=Roboto') > -1) {

                console.info('Prevented Roboto from loading!');
                return;
            }

            insertBefore.call(head, newElement, referenceElement);
        };

        var map;

        function initMap() {
            map = new google.maps.Map(document.getElementById('map'), {
                center: {
                    lat: 40,
                    lng: 50
                },
                zoom: 4,
                mapTypeId: 'roadmap'
            });

            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function (position) {
                    var currentPosition = {
                        lat: position.coords.latitude,
                        lng: position.coords.longitude
                    }
                    map.setCenter(currentPosition);
                    map.setZoom(15);
                    var marker = new google.maps.Marker({
                        position: currentPosition,
                        map: map,
                        title: 'Here you are!'
                    });


                    {% for item in hotels %}
                        var marker{{forloop.counter}} = new google.maps.Marker({
                            position: {lat: {{item.geo_lat }} , lng: {{item.geo_lng}}},
                            map: map,
                            title: '{{item.name}}'
                        });
                    {% endfor %}

                    
                });
            } else {
                console.log("Your browser is backdated!");
            }
        }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCDiMStVQQSQHne9q4DgOzMzKgwarrL5Vc&callback=initMap"
    async defer></script>
{% endblock %}
