{% extends 'base.html' %}
{% load static %}

{% block extra_head %}
	<title>Vromon</title>
  	<link rel="stylesheet" type="text/css" href="{% static 'css/generic/image-card.css' %}">
    <link rel="stylesheet" href="{% static 'css/home/index.css' %}">
{% endblock %}


{% block content %}

    <div id="map"></div>

    <div class="map-canvas">

    </div>

    <div class="section mx-auto" >
        <div class="section-title">
            <h4 class="section-title-text">Nearby Restaurents</h4>
        </div>

        <div class="cards row card-section">
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="card">
                    <div class="card-image-wrapper">
                        <img class="card-img-top" src="https://media-cdn.tripadvisor.com/media/photo-s/09/62/e1/3d/nanna-biriyani-house.jpg" alt="Nanna!">
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Nanna Biriyani</h4>
                        <p class="card-text"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></p>
                        <a href="#" class="btn btn-info">Get Direction</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="card">
                    <div class="card-image-wrapper">
                        <img class="card-img-top" src="https://media-cdn.tripadvisor.com/media/photo-s/09/62/e1/3d/nanna-biriyani-house.jpg" alt="Nanna!">
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Nanna Biriyani</h4>
                        <p class="card-text"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></p>
                        <a href="#" class="btn btn-info">Get Direction</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="card">
                    <div class="card-image-wrapper">
                        <img class="card-img-top" src="https://media-cdn.tripadvisor.com/media/photo-s/09/62/e1/3d/nanna-biriyani-house.jpg" alt="Nanna!">
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Nanna Biriyani</h4>
                        <p class="card-text"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></p>
                        <a href="#" class="btn btn-info">Get Direction</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="see-more">
            <a href="/explore/" class="btn btn-info see-more-btn">Explore More Restaurents</a>
        </div>
    </div>

    <hr>


    <div class="section mx-auto" >
            <div class="section-title">
                <h4 class="section-title-text">Nearby Hotels</h4>
            </div>
    
            <div class="cards row card-section">
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="card">
                        <div class="card-image-wrapper">
                            <img class="card-img-top" src="https://t-ec.bstatic.com/images/hotel/max1024x768/925/92583733.jpg" alt="Hotel Pan Pacific">
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">Hotel Pan Pacific</h4>
                            <p class="card-text"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></p>
                            <a href="#" class="btn btn-info">Get Direction</a>
                        </div>
                    </div>
                </div>
    
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="card">
                        <div class="card-image-wrapper">
                            <img class="card-img-top" src="https://t-ec.bstatic.com/images/hotel/max1024x768/925/92583733.jpg" alt="Hotel Pan Pacific">
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">Hotel Pan Pacific</h4>
                            <p class="card-text"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></p>
                            <a href="#" class="btn btn-info">Get Direction</a>
                        </div>
                    </div>
                </div>
    
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="card">
                        <div class="card-image-wrapper">
                            <img class="card-img-top" src="https://t-ec.bstatic.com/images/hotel/max1024x768/925/92583733.jpg" alt="Hotel Pan Pacific">
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">Hotel Pan Pacific</h4>
                            <p class="card-text"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></p>
                            <a href="#" class="btn btn-info">Get Direction</a>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="see-more">
                <a href="/explore/" class="btn btn-info see-more-btn">Explore More Hotels</a>
            </div>
        </div>

        <hr>

        <div class="section mx-auto" >
                <div class="section-title">
                    <h4 class="section-title-text">Nearby Landmarks</h4>
                </div>
        
                <div class="cards row card-section">
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="card">
                            <div class="card-image-wrapper">
                                <img class="card-img-top" src="https://t-ec.bstatic.com/images/hotel/max1024x768/925/92583733.jpg" alt="Hotel Pan Pacific">
                            </div>
                            <div class="card-body">
                                <h4 class="card-title">Hotel Pan Pacific</h4>
                                <p class="card-text"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></p>
                                <a href="#" class="btn btn-info">Get Direction</a>
                            </div>
                        </div>
                    </div>
        
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="card">
                            <div class="card-image-wrapper">
                                <img class="card-img-top" src="https://t-ec.bstatic.com/images/hotel/max1024x768/925/92583733.jpg" alt="Hotel Pan Pacific">
                            </div>
                            <div class="card-body">
                                <h4 class="card-title">Hotel Pan Pacific</h4>
                                <p class="card-text"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></p>
                                <a href="#" class="btn btn-info">Get Direction</a>
                            </div>
                        </div>
                    </div>
        
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="card">
                            <div class="card-image-wrapper">
                                <img class="card-img-top" src="https://t-ec.bstatic.com/images/hotel/max1024x768/925/92583733.jpg" alt="Hotel Pan Pacific">
                            </div>
                            <div class="card-body">
                                <h4 class="card-title">Hotel Pan Pacific</h4>
                                <p class="card-text"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></p>
                                <a href="#" class="btn btn-info">Get Direction</a>
                            </div>
                        </div>
                    </div>
                </div>
        
                <div class="see-more">
                    <a href="/explore/" class="btn btn-info see-more-btn">Explore More Restaurents</a>
                </div>
            </div>


<!-- 
	<div class="section mx-auto">
        <div class="section-title">
            <h4 class="section-title-text">
                Nearby Restaurants
            </h4>
        </div>
        <div class="cards row card-section">
                <div class="card profile-card" id="profile-card">   						
                    <div class="card-image-wrapper">  		
                        <img class="card-img-top" src="https://media-cdn.tripadvisor.com/media/photo-s/09/62/e1/3d/nanna-biriyani-house.jpg" alt="Nannar Kacchi">
                    </div>
                    <div class="card-body spot-card-body">
                        <h4 class="card-title">Nanna Biriyani House</h4>	
                        <p class="card-text"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></p>
                        <a href="#" class="btn btn-info">Get Direction</a>
                    </div>
                </div>

                <div class="card profile-card" id="profile-card">   						
                    <div class="card-image-wrapper">  		
                        <img class="card-img-top" src="https://media-cdn.tripadvisor.com/media/photo-s/09/62/e1/3d/nanna-biriyani-house.jpg" alt="Nannar Kacchi">
                    </div>
                    <div class="card-body spot-card-body">
                        <h4 class="card-title">Nanna Biriyani House</h4>	
                        <p class="card-text"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></p>
                        <a href="#" class="btn btn-info">Get Direction</a>
                    </div>
                </div>

                <div class="card profile-card" id="profile-card">   						
                    <div class="card-image-wrapper">  		
                        <img class="card-img-top" src="https://media-cdn.tripadvisor.com/media/photo-s/09/62/e1/3d/nanna-biriyani-house.jpg" alt="Nannar Kacchi">
                    </div>
                    <div class="card-body spot-card-body">
                        <h4 class="card-title">Nanna Biriyani House</h4>	
                        <p class="card-text"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></p>
                        <a href="#" class="btn btn-info">Get Direction</a>
                    </div>
                </div>
        </div>
        <div class="see-more">
            <a href="/explore/" class="btn btn-info see-more-btn">Explore More Spots</a>
        </div>
    </div>
    <hr>
    <div class="section mx-auto">
        <div class="section-title">
            <h4 class="section-title-text">
                Nearby Hotels
            </h4>
        </div>
        <div class="cards row card-section">
            {% for item in spots %}

                <div class="card profile-card">   						
                    <div class="card-image-wrapper">  		
                        <img class="card-img-top" src="/media/{{ item.logo }}" alt="{{ item.name }}">
                    </div>
                    <div class="card-body spot-card-body">
                        <h4 class="card-title">{{ item.name }}</h4>	
                        <p class="card-text"><i class="fas fa-map-marker-alt"></i> {{ item.district }}</p>
                        <a href="/spot/{{item.name}}/" class="btn btn-info">View Posts</a>
                    </div>
                </div>										
            {% endfor %}
        </div>
        <div class="see-more">
            <a href="/explore/" class="btn btn-info see-more-btn">Explore More Spots</a>
        </div>
    </div>
    <hr>

    <div class="section mx-auto">
        <div class="section-title">
            <h4 class="section-title-text">
                Nearby Landmarks
            </h4>
        </div>
        <div class="cards row card-section">
            {% for item in spots %}

                <div class="card profile-card">   						
                    <div class="card-image-wrapper">  		
                        <img class="card-img-top" src="/media/{{ item.logo }}" alt="{{ item.name }}">
                    </div>
                    <div class="card-body spot-card-body">
                        <h4 class="card-title">{{ item.name }}</h4>	
                        <p class="card-text"><i class="fas fa-map-marker-alt"></i> {{ item.district }}</p>
                        <a href="/spot/{{item.name}}/" class="btn btn-info">View Posts</a>
                    </div>
                </div>										
            {% endfor %}
        </div>
        <div class="see-more">
            <a href="/explore/" class="btn btn-info see-more-btn">Explore More Spots</a>
        </div>
    </div>

     <div class="container-fluid section mx-auto">
        <div class="section-title">
			<h4 class="section-title-text">
				Nearby Landmarks
			</h4>
		</div>
        <div class="cards row card-section">
            {% for item in events %}

            <div class="card event-card">   						
				<div class="card-image-wrapper">  					 
					<img class="card-img-top" src="/media/{{ item.logo }}" alt="{{item.title}}">
				</div>
				<div class="card-body">
				    <h4 class="card-title">{{item.title}}</h4>	 
					<p class="card-text"><i class="fas fa-map-marker-alt"></i> Location</p>
					<div class="progress" style="height: 25px;">
						<div class="progress-bar bg-success" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="20" style="width:50%">
							10/20 Seats Booked
							
						</div>
					</div>
					
					<a href="/event/{{item.uid}}/" class="btn btn-success book-button">Book: 1000$</a>
				</div>
			</div>
            {% endfor %}
        </div>
        <div class="see-more">
			<a href="/event/all" class="btn btn-success see-more-btn">Explore More Events</a>
		</div>
    </div> -->
    <!-- <br><br>  -->
{% endblock %}


{% block extra_script %}
    <script src="{% static 'js/home/index.js' %}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCDiMStVQQSQHne9q4DgOzMzKgwarrL5Vc&callback=initMap"
    async defer></script>
{% endblock %}
