{% extends 'base.html' %}
{% load static %}

{% block extra_head %}
	<title>Explore</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/generic/image-card.css' %}">
{% endblock %}


{% block content %}
	<h3 align="center">Explore all available spots</h3>
	<div class="container fluid">
        <div class="row">
            {% for item in spots %}
                <div class="col-md-6 grid-item">
                    <figure class="dash-card-container">
                        <img src="/media/{{ item.logo }}">
                        <figcaption>
                            <p class="title1">{{ item.name }}</p>
                            <p class="title2">{{ item.district }}</p>
                        </figcaption>
                        <a href="/spot/{{item.name}}/"></a>
                    </figure>
                </div>
            {% endfor %}
        </div>
        <br><br><br>
    </div>
{% endblock %}


{% block extra_script %}
{% endblock %}