{% extends 'base.html' %}
{% load static %}

{% block extra_head %}
    <title>Sign Up</title>
{% endblock %}


{% block content %}

    <div class="d-flex justify-content-center align-items-center">
        <div class="col-md-7 list-group-item">
            <h5 align="center">Registration Form</h5>
            <form class="form-block" method="POST">
                {% csrf_token %}
                {{ form.name }}
                {{ form.phone}}
                {{ form.email}}
                {{ form.gender }}
                {{ form.password1 }}
                {{ form.password2 }}
                <input type="submit" value="Sign Up" class="btn btn-success btn-block">
            </form>
            <br>
            <div class="list-group-item">
                Already have an account?
                <a href="/account/signin/" class="">
                    signin
                </a>
            </div>
        </div>
    </div>
 
{% endblock %}


{% block extra_script %}
{% endblock %}

