{% extends 'base.html' %}
{% load static %}

{% block extra_head %}
    <title>Sign Up</title>
{% endblock %}


{% block content %}
 <form class="form-block" method="POST">
    {% csrf_token %}
    {{ form.name }}
    {{ form.phone}}
    {{ form.email}}
    <div class="input-field col s12">
        {{ form.gender }}
    </div>
    {{ form.password1 }}
    {{ form.password2 }}
    <input type="submit" value="Sign Up" class="btn btn-success btn-block">
    </form>
    <div>
        Already have an account?
        <a href="/account/signin/" class="">
            signin
        </a>
    </div>
{% endblock %}


{% block extra_script %}
{% endblock %}

