{% extends 'base.html' %}
{% load static %}

{% block extra_head %}
    <title>{{request.user.name}} | Vromon</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/account/manage/profile.css' %}">
{% endblock %}


{% block content %}
    <div class="card">

        <div class="card-header">
            <img src="{{request.user.thumbnail}}" alt="profile-image" class="profile-img">
        </div>
        <div class="card-body">
            <h6 class="list-group-item">Name : {{request.user.name}}</h6>
            <h6 class="list-group-item">Email : {{request.user.email}}</h6>
            <h6 class="list-group-item">Phone : {{request.user.phone}}</h6>
            {% if request.user.gender == 'M'%}
                <h6 class="list-group-item">Gender : Male</h6>
            {% elif request.user.gender == 'F' %}
                <h6 class="list-group-item">Gender : Female</h6>
            {% elif request.user.gender == 'O' %}
                <h6 class="list-group-item">Gender : Other</h6>
            {% else %}
                <h6 class="list-group-item">Gender : Not to say</h6>
            {% endif %}
            <br>
            <a href="update/" class="list-group-item bg-secondary text-white">Update Info</a>
            <a href="change-password/" class="list-group-item bg-secondary text-white">Change Password</a>
            {% if request.user.is_guide %}
                <a href="/guide/{{dashboard_id}}/" class="list-group-item bg-primary text-white">Guide Dashboard</a>

            {% endif %}
        </div>
    </div>


{% endblock %}


{% block extra_script %}
{% endblock %}