* {
    margin: 0;
    padding: 0;
}

body {
    background: #f5f5f5;
    font-family: 'Roboto', sans-serif;
}

.bg-teal {
    background-color: #00796B !important;
    position: relative;
}

#profile-button, #search-button, #message-button, #bell-button {
    font-size: 35px;
    margin-left: 50px;
    margin-right: 10px;
    line-height: 35px;
    color: #f5f5f5;
    margin-left: 20px;
    font-size: 25px;
}

#profile-button {
    height: 38px;
    margin-top: -12px;
}

#search-button {
    display: none;
    cursor: pointer;
}

.search-bar {
    max-width: 400px;
}

.dropdown-menu {
    margin-left: -50px;
}

.search-bar {
	background: #00796B;
	border: none;
	border-bottom: 2px solid #f5f5f5;
	border-radius: 0px;
	color: #f5f5f5;
	font-weight: bold;
}

.search-bar:focus {
	background: #004D40;
	color: #f5f5f5;
	outline: none;
	border: none;
}

.search-bar::placeholder {
	color: #f5f5f5;
	font-weight: bold;
}

.responsive-search-page {
    height: 100vh;
    width: 100vw;
    z-index: 100;
    position: fixed;
    background: #00796Bf0;
    top: 0;
    left: 0;
    display: none;
}

.search-bar-phone {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100% !important;
}

.search-cross {
    position: absolute;
    width: 2px;
    height: 50px;
    border: 5px solid #004D40;
    top: 75px;
    right: 50px;
    transform: rotate(45deg);
}
.search-cross-2 {
    position: absolute;
    width: 2px;
    height: 50px;
    border: 5px solid #004D40;
    top: 75px;
    right: 50px;
    transform: rotate(-45deg);
}

.nav-buttons {
    display: inline-block;
}

i {
    display: inline-block;
}

.dropdown {
    display: inline-block;
}

@media only screen and (max-width: 700px) {
    .search-bar-pc {
        display: none;
    }
    #search-button {
        display: inline-block;
    }
}

@media only screen and (max-width: 800px) {
    .search-bar {
        width: 250px;
    }
}

@media only screen and (max-width: 1000px) {
    .search-bar {
        max-width: 300px;
    }
}

#map {
    margin-left: -20px;
    height: 50vh;
    width: 99vw;
  }