{% load static %}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

	{% block extra_head %}
	{% endblock %}


</head>
<body>

	<div class="navbar-fixed">
		<nav class="teal">
			<div class="nav-wrapper row">
				<a href="/" class="left brand-logo col">Vromon</a>
				<form class="right hide-on-med-and-down col l4">
					<div class="input-field top-search">
			          	<input id="search" type="search" required>
			          	<label class="label-icon" for="search"><i class="material-icons">search</i></label>
			          	<i class="material-icons">close</i>
			        </div>
				</form>
			</div>
		</nav>
	</div>

	<div class="container">
        {% block content %}
		{% endblock %}
    </div>

    <div class="fixed-action-btn">
    	<a class="btn-floating btn-large green hoverable"> <i class="material-icons">person</i> </a>
    	<a class="btn-floating btn-large green hoverable"> <i class="material-icons">bookmark</i> </a>
    </div>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
	{% block extra_script %}
	{% endblock %}
</body>
</html>