{% extends 'base.html' %}
{% load static %}

{% block extra_head %}
	<title>{{page.spot.name}} | {{page.guide.account.name}}</title>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.css">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.css">
	<link rel="stylesheet" type="text/css" href="{% static 'css/home/guide/page.css'%}">
{% endblock %}


{% block content %}
	<div class="d-flex justify-content-center align-items-center">
		<div class="col-md-8 bg-white">
			<br>
			<a class="goto spot-name" href="/spot/{{page.spot.name}}/">{{page.spot.name}}</a>
			<a href="/guide/{{page.guide.uid}}/" class="goto guide-name">
				{{page.guide.account.name}}
			</a>
			{% if request.user == page.guide.account %}
				<div class="list-group-item">
					<a href="update/" class="goto list-group-item">Update This Page</a>
					<button data-toggle="collapse" data-target="#image-form" class="btn btn-secondary btn-block">
						Upload Image for this page
					</button>
					<div id="image-form" class="collapse">
						<form method="POST" enctype="multipart/form-data" action="upload-image/">
							{% csrf_token %}
							{{ form.as_p}}
							<button class="btn btn-success">Upload</button>
						</form>
					</div>

				</div>
			{% endif %}
			<div class="logo-container">
				<img src="/{{page.logo}}">
			</div>
			<div class="page-details">{{page.details |linebreaks |urlize}}</div>
			<div class="spot-image-slider">
			{% for item in media %}
				<div class="image-item">
					<img src="/{{item.image}}">
				</div>
			{% endfor %}
		</div>
		</div>
	</div>
{% endblock %}


{% block extra_script %}
	<script
		src="https://code.jquery.com/jquery-3.3.1.min.js"
		integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
		crossorigin="anonymous">
	</script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
	<script type="text/javascript" src="{% static 'js/home/spot/detail.js'%}"></script>
{% endblock %}