.card{
    width: 400px;
    margin: 75px auto 0;
    background-color: #fff;
    box-shadow: 0 3px 30px rgba(0, 0 , 0, .14);
    color: #444;
    text-align: left;
    font-size: 16px;
}


.card .card-header{
    position: relative;
    height: 50px;
}


.card .card-header .profile-img{
    width: 150px;
    height: 150px;
    border-radius: 1000px;
    position: absolute;
    left: 50%;
    transform: translate(-50% ,-50%);
    border: 6px solid #fff;
    box-shadow: 0 0 20px rgba(0 , 0, 0, .3);
}

.card .card-body{
    padding: 100px 40px;
}

