.dash-card-container {
	/*use custom font here*/
	position: relative; display: inline-block; overflow: hidden;

	max-width: 500px;  max-height: 500px; min-height: 210px;
	width: 100%; height: 100%;


	background-color: #000; color: #fff;
	text-align: left; font-size: 13px; margin: 5px;
	box-shadow: 2px 2px 5px rgba(0,0,0,0.25);
}

.dash-card-container * {
	-webkit-transition: all 0.35s;
	transition: all 0.35s;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.dash-card-container img {
	max-width: 100%; max-height: 500px;  min-height: 210px;  
	width: 100%; vertical-align: top; height: 100%;
}
.dash-card-container figcaption {
	position: absolute; top: 0; left: 0; right: 0; border: 0;
	bottom: 0; padding: 20px; 
	background-image: -webkit-linear-gradient(bottom,rgba(0,0,0,0.8) 
		0%, transparent 100%);
	background-image: linear-gradient(to, top, rgba(0,0,0,0.8) 
		0%, transparent 100%);

	display: flex; flex-direction: column; 
	justify-content: flex-end;
}
.dash-card-container h5 {
	font-size: 25px; font-weight: 300; line-height: 1;
	letter-spacing: 1px; text-transform: uppercase;
	margin: 3px 0px;
}
.dash-card-container .title {
	color: #fff; font-weight: 300;
}

.dash-card-container a {
	position: absolute; top: 0; bottom: 0; left: 0; right: 0;
}

.dash-card-container:hover img{
	-webkit-transform: scale(1.2);
	transform: scale(1.2);
}

.react-btn {
	background-color: rgba(0,0,0,0.0);
	border-color: transparent;
	margin: 0 2px 0 2px; color: white;
	display: inline-block; float: left;
}

.grid-item {
	margin-top: 10px; margin-bottom: 10px;
}