.card {
	object-fit: cover;
}

.section {
	width: 98%;
	margin-top: 50px;
}

.section-title {
	text-align: center;
	display: block;
	width: 100%;
	padding: 0;
	margin: 0;
}

.section-title-text {
	background: #f5f5f5;
	height: 20px;
	font-size: 30px;
	padding-top: 10px;
}

.card {
	overflow: hidden;
	position: relative;
	display: inline-block;
	height: 400px;
	margin-top: 50px;
}

.card-body {
	margin-top: -60px !important;
}

.card-image-wrapper {
	object-fit: fill;
	object-position: 50% 50%;
	width: 100%;
	height: 200px;
	overflow: hidden;
}

.card-img-top {
	transition: transform .5s ease-in-out;
}

.card:hover > .card-image-wrapper > .card-img-top {
	transform: rotate(2deg) scale(1.1);
	transition: transform .5s ease-in-out;
}

.see-more-btn {
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	margin-top: 50px;
	margin-bottom: 40px;
}

.book-button {
	position: absolute;
	top: 180px;
	right: 10px;
	opacity: .9;
}